

.hero
{
    background-color: black;
    color: #CCCCCC;
    background-image: url("./assets/My-project-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.left
{
    flex:1;
}
hr{
    border:2px solid #3498db
}

.intro,.learn{
    color: #3498db;
}

.contact{
    border: 2px solid #3498db;
    color: #3498db;
}